.context{width: 1210px; margin: 0 auto;}
.xian{width:1200px; height:80px; border-bottom:1px solid #e3e3e3;margin-bottom: 40px;}
.show1{width:1200px; height: 150px; border: 1px solid #e3e3e3; margin-bottom: 25px;}
.show1 div{margin-top: 35px; width: 1020px;}
.show1 div > a{margin-left: 30px;font-size:18px; font-family: "microsoft yahei"; color: #0068B7; text-decoration: none;}
.show1 div > p{ margin-left: 30px;font-size:18px; font-family: "microsoft yahei"; color: #f18a22; margin-bottom: 0px;}
.show1 div > p > span{font-size:14px; font-family: "microsoft yahei"; color: #000000;}
.btn{margin-left:25px;margin-top:15px; width: 106px; height:30px; background-color: #0068B7;text-align: center; }
.btn > a{margin: 0px; color:white; text-decoration: none;text-align: center; font-size: 14px; font-family: 'microsoft yahei';}
.showtime{margin-left:0px;margin-top: 0px; font-size: 14px;color: #bababa; font-family: 'microsoft yahei';}
.showbtn{float:left; width: 149px; text-align: center;}
.zhiwei > div{ font-size: 16px; font-family: "microsoft yahei";}
.zhiwei > p{font-size:20px;}
.zhiwei{margin-top: 5%;}
.zige{margin-top: 5%;}
.zige > div{font-size: 16px; font-family: "microsoft yahei";}
.text_conter{margin-left: 30px; margin-top: 5%;}
.zige > p{font-size:20px;}
