.breadcrumb{
    margin-top: 45px;
    margin-left: 20%;
}
.banner{
    text-align :center;
    width: 100%;
    height: auto;
}
.elem-field{
    width: 60%;
    margin-left: 20%;
}
.partner-company{
   margin: 0 auto;
}
.partner-company > tr > td{

}

