* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: "微软雅黑";
}
#head_nav{
    z-index: 9999;
}

#banner {
    /*background: url(/static/frontImg/content/tupian5.png) no-repeat top;*/
    height: 400px;
    width: auto;
}

article {
    height: auto;
    width: auto;
    padding: 0 364px 0 364px;
}

#art_nav {
    font-size: 18px;
    height: 80px;
    border-bottom: solid #e3e3e3 1px;
    line-height: 100px;
}

#art_nav a {
    color: #0068b7;
}

#content_tit {
    font-size: 26px;
    padding-top: 26px;
    margin-bottom: 42px;
}

#content_tit p {
    margin-bottom: 30px;
}

#content_txt {
    font-size: 16px;
    color: #343434;
    margin: 0 auto 0 auto;
}

#content_pub {
    font-size: 14px;
    color: #b5b5b5;
    border-top: dashed 1px #b5b5b5;
    padding-top: 19px;
    text-align: center;
}

footer {
    height: 391px;
    background-color: #2a2c38;
    text-align: center;
    color: #FFFFFF;
}

#foot_tb {
    margin-bottom: 71px;
    padding-left: 473px;
    padding-top: 57px;
}

#foot_nav {
    border-top: #41434d solid 1px;
    padding-top: 30px;
    font-size: 14px;
}

#foot_copy {
    font-size: 12px;
}

footer a {
    color: #FFFFFF;
}